/* ### STYLKOWANIE IKON + STANY ANIMACJI IKONY SUN/MOON */


/* Ikona GitHub */
.icons{
  background: transparent;
  border: none;
  cursor: pointer;
  fill: var(--color-icon-theme);
}
.icons:hover{
  fill: hsl(213, 13%, 72%);
}

#github-icon svg{
 height: 24px;
 vertical-align: middle;
}

/* Ikona Theme Toggle */
.theme-toggle{
  background: transparent;
  border: none;
  cursor: pointer;
  fill: var(--color-icon-theme); 
}
.theme-toggle svg{
vertical-align: middle;
}
.theme-toggle:hover .sun {
  fill: hsl(213, 13%, 72%); /* jaśniejszy żółty – np. dla słońca */
}

/* Promienie – widoczne tylko jeśli nie są schowane klasą `rays-hidden` */
.theme-toggle:hover .ray {
  fill: hsl(213, 13%, 72%);                /* cieplejszy kolor na hover */
  transform: scale(1.1);
  transform-origin: center;

}
.sun-moon-icon {
  width: 26px;
  height: 26px;
  fill: var(--color-icon-theme);
  user-select: none;
}
.ray {
  fill: var(--color-icon-theme);
  transform-origin: 16px 16px;
  transition: transform 0.3s ease;
}
.theme-toggle.rays-hidden .ray {
  transform: scale(0);
}
.theme-toggle.rays-visible .ray {
  transform: scale(1);
}
.sun {
  transform-origin: 16px 16px;
  transform: scale(1);
  transition: transform 0.5s ease;
}
.theme-toggle.circle-expanded .sun {
  transform: scale(1.5);
}
.cut-circle {
  fill: var(--color-bg);
  transition: transform 0.5s ease;
  will-change: transform;
  backface-visibility: hidden;
  transform: translate3d(14px, -12px, 0);
}
.theme-toggle.cut-active .cut-circle {
  transform: translate3d(-4px, 2px, 0);
}
* { transition: background-color 0.3s, color 0.3s; }
