/* ############## RESPONSYWNOSC ################## */
/* MEDIA QUERIES - 1279 -> 938 -> 576 */

/* ###################################### */
/* ### --------- 1279+ -------------- ### */
@media (max-width: 1279px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Wyśrodkowanie całych sekcji */
    gap:0px;
  }

  .sidebar {
    display: flex;
    flex: 210px;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1100px;
    gap: 24px;
    flex-wrap: wrap; /* pozwala zawinąć w razie potrzeby */
  }

  .controls {
    width: 10%;
    min-width: 320px;
    max-width: 350px;
  }

  #result {
    width: 80%;
    display: grid;
    grid-template-columns: repeat(3, 1fr); /* 3 kolumny */
    grid-auto-rows: auto;
        min-width: 540px;
    gap: 12px;
    font-size: 0.85rem;
  }
    #result h3 {
    margin-top: 0px;
    padding-top: 0px;
    font-size: 0.9rem;
  }

#result > div:nth-of-type(1) { order: 1; }
#result > div:nth-of-type(2) { order: 6; }
#result > div:nth-of-type(3) { order: 4; }
#result > div:nth-of-type(4) { order: 5; }
#result > div:nth-of-type(5) { order: 7; }
#result > div:nth-of-type(6) { order: 8; }
#result > div:nth-of-type(7) { order: 2; }
#result > div:nth-of-type(8) { order: 3; }

  .canvas-container {
    flex: 2 1 200px;
    width: 100%;
    max-width: 900px;
    margin-top: 0px;
    align-self: center;
    ;
  }
}

/* ###################################### */
/* ### --------- 938+ -------------- ### */
@media (max-width: 938px) {
  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .sidebar {
    display: contents; /* Rozpakowuje elementy */
  }

  .controls {
    order: 1;
    width: 100%;
    max-width: 500px;
    margin: auto;
  }

  .canvas-container {
    order: 2;
    width: 100%;
    min-width: auto;
  }

  #result {
    order: 3;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 12px;

  }

#result > div:nth-of-type(1) { order: 1; }
#result > div:nth-of-type(2) { order: 2; }
#result > div:nth-of-type(3) { order: 3; }
#result > div:nth-of-type(4) { order: 4; }
#result > div:nth-of-type(5) { order: 5; }
#result > div:nth-of-type(6) { order: 6; }
#result > div:nth-of-type(7) { order: 7; }
#result > div:nth-of-type(8) { order: 8; }
}

/* ###################################### */
/* ### --------- 576+ -------------- ### */
@media (max-width: 576px) {


  .main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

  }

  /* #topBar{ 
  display:flex;
  flex-direction:row;
  justify-content: space-between
  margin:auto;
  border-bottom: 1px solid var(--color-devider);
  padding-bottom: 4px;
  gap: 6px;
} */

#topBar h1{
  font-size: 8px;
  /* font-weight: var(--weight-theme); */
}

#github-icon svg{
 height: 16px;
}
.sun-moon-icon {
  width: 18px;
}
  .sidebar {
    display: contents;
  }

  .controls {
    min-width: 250px;
    max-width: 80%;
    box-sizing: border-box;
    margin: 0;
  }
  .controls h3, label, input[type="range"]{
    min-width: 250px;
  }
  .controls input[type="range"] {
min-width: 240px;
  width: 100%;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: block;
}
.button-container {
    flex-direction: column;
    width: 80%;
    flex-wrap: wrap;
    gap: 10px;
    justify-content: center;
    margin: auto;
    margin-top: 15px;
}
.sidebar button {
    flex: 1;
    min-width: 100px;
    padding: 12px 16px;
    font-size: clamp(0.9rem, 2.5vw, 1rem);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.3s ease;
    white-space: nowrap;
    transform: translateY(0);

}

  .canvas-container {
    margin: 0;
    margin-top: 16px;
    width: 100%;
    flex: 160px;
    max-width: 100%;
    margin-bottom: 0px;
    align-self: center;
    min-width: 250px;
    
  }

  canvas {
    margin: 0;
    width: 100% !important;
    height: auto !important;
    max-width: 100%;
    box-sizing: border-box;
  }

  #result {
    min-width: 260px;
    width: 90%;
    max-width: 480px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 12px;
    font-size: 0.85rem;
    margin-bottom: 20px;
    box-sizing: border-box;
    min-width: 140px;
    
  }

  #result > div {
    min-width: 200px;
    box-sizing: border-box;
    text-align: center;
  }
  

  h1, h2 {
    font-size: 1.1rem;
  }

  #result h3 {
    font-size: 0.9rem;
  }

  .explanation-container {
    font-size: 0.8rem;
  }


}



