/* ############## RESPONSYWNOSC ################## */
/* MEDIA QUERIES - 1279 -> 938 -> 576 */

/* ###################################### */
/* ### --------- 1279+ -------------- ### */
@media (max-width: 1279px) {
  #main-container {
    display: flex;
    flex-direction: column;
    align-items: center; /* Wyśrodkowanie całych sekcji */
    gap:0px;
  }

  .sidebar {
    display: flex;
    flex: 210px;
    flex-direction: row;
    flex-wrap: wrap; /* pozwala zawinąć w razie potrzeby */
    justify-content: center;
    align-items: flex-start;
    width: 100%;
    max-width: 1100px;
    gap: 24px;
  }

  .controls {
    width: 10%;
    min-width: 320px;
    max-width: 350px;
  }

  .result {
    display: grid;
    width: 80%;
        min-width: 540px;
    font-size: 0.85rem;
    gap: 12px;
    grid-auto-rows: auto;
    grid-template-columns: repeat(3, 1fr); /* 3 kolumny */
  }
    .result h3 {
    font-size: 0.9rem;
    margin-top: 0px;
    padding-top: 0px;
  }

.result > div:nth-of-type(1) { order: 1; }
.result > div:nth-of-type(2) { order: 6; }
.result > div:nth-of-type(3) { order: 4; }
.result > div:nth-of-type(4) { order: 5; }
.result > div:nth-of-type(5) { order: 7; }
.result > div:nth-of-type(6) { order: 8; }
.result > div:nth-of-type(7) { order: 2; }
.result > div:nth-of-type(8) { order: 3; }

  .canvas-container {
    flex: 2 1 200px;
    align-self: center;
    width: 100%;
    max-width: 900px;
    margin-top: 0px;
    ;
  }
}

/* ###################################### */
/* ### --------- 938+ -------------- ### */
@media (max-width: 938px) {
  #main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
  }

  .sidebar {
    display: contents; /* Rozpakowuje elementy */
  }

  .controls {
    width: 100%;
    max-width: 500px;
    margin: auto;
    order: 1;
  }

  .canvas-container {
    width: 100%;
    min-width: auto;
    order: 2;
  }

  .result {
  display: grid;
  gap: 12px;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    order: 3;

  }

#result > div:nth-of-type(1) { order: 1; }
#result > div:nth-of-type(2) { order: 2; }
#result > div:nth-of-type(3) { order: 3; }
#result > div:nth-of-type(4) { order: 4; }
#result > div:nth-of-type(5) { order: 5; }
#result > div:nth-of-type(6) { order: 6; }
#result > div:nth-of-type(7) { order: 7; }
#result > div:nth-of-type(8) { order: 8; }
}

/* ###################################### */
/* ### --------- 576+ -------------- ### */
@media (max-width: 576px) {


  #main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;

  }

.hide-small-screen {
  visibility: hidden;
}
#logo-text{
    gap: 0px;

}
#logo-container {
  height: fit-content;
}
#logo-container svg{
    height: 16px;
}

#topbar-container h1{
  font-size: 14px;
}

#topbar-icons{
  gap: 2px;
}

#github-icon svg{
 height: 16px;
}
.sun-moon-icon {
  width: 18px;
}
  .sidebar {
    display: contents;
  }

  .controls {
    min-width: 250px;
    max-width: 80%;
    margin: 0;
    box-sizing: border-box;
  }
  .controls h3, label, input[type="range"]{
    min-width: 250px;
  }
  .controls input[type="range"] {
  display: block;
  width: 100%;
min-width: 240px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.button-container {
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    margin: auto;
    gap: 10px;
    margin-top: 15px;
}
.sidebar button {
    flex: 1;
    min-width: 100px;
    padding: 12px 16px;
    font-size: clamp(0.9rem, 2.5vw, 1rem);
    white-space: nowrap;
    border: none;
    border-radius: 5px;
    transition: all 0.3s ease;
    transform: translateY(0);
    cursor: pointer;

}

  .canvas-container {
    flex: 160px;
    align-self: center;
    width: 100%;
    min-width: 250px;
    max-width: 100%;
    margin: 0;
    margin-bottom: 0px;
    margin-top: 16px;
    
  }

  canvas {
    width: 100% !important;
    max-width: 100%;
    height: auto !important;
    margin: 0;
    box-sizing: border-box;
  }

  .result {
    display: grid;
    width: 90%;
    min-width: 140px;
    max-width: 480px;
    box-sizing: border-box;
    font-size: 0.85rem;
    gap: 12px;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin-bottom: 20px;
    
  }

  .result > div {
    min-width: 200px;
    box-sizing: border-box;
    text-align: center;
  }
  

  h1, h2 {
    font-size: 1.1rem;
  }

  .result h3 {
    font-size: 0.9rem;
  }

  .explanation-container {
    font-size: 0.8rem;
  }


}



