/* Design System  */
:root {    
/* Colors HSL - DARK MODE  */
    --color-bg: hsl(213, 13%, 12%);
    --color-surface: hsl(213, 13%, 18%);
    --color-small-surface: hsl(213, 13%, 12%);

    --color-on-bg: hsl(213, 13%, 88%);
    --color-on-bg2: hsl(203, 13%, 90%);

    --color-divider: hsl(213, 13%, 52%, 0.2);

    --color-primary: hsl(203, 70%, 75%);
    --color-primary-strong: hsl(203, 75%, 70%);
    --color-primary-stronger: hsl(203, 60%, 50%);;
    --color-primary-weak: hsl(203, 90%, 85%);

    --color-drawing-blue: hsl(200, 100%, 71%);
    --color-drawing-red: hsl(7, 100%, 66%);
    --color-drawing-green: hsl(81, 61%, 55%);
    --color-drawing-yellow: hsl(52, 100%, 70%);
    --color-drawing-gray: hsl(0, 0%, 53%);
    --color-drawing-red-weak: hsl(17, 100%, 79%);
    --color-drawing-blue-weak: hsl(193, 100%, 85%);

    --color-bttn-green-active: hsl(160, 65%, 39%);
    --color-bttn-yellow-active: hsl(48, 50%, 63%);
    --color-bttn--red-active: hsl(0, 75%, 60%);
    --on-bttn: hsl(0, 0%, 100%);

    --edu-section-bg: var(--color-surface);
    --edu-code-bg: hsl(213, 13%, 14%);;

    --edu-head2-color:hsl(203, 70%, 75%);
    --edu-head3-color: hsl(46, 97%, 65%);

    --color-surface-border: transparent;
    --color-small-surface-border: hsl(213, 13%, 32%);

    --color-icon-active: hsl(213, 13%, 52%);
    --color-icon-hover: hsl(213, 13%, 72%);

    --color-logo: hsl(213, 13%, 88%);

    /* tokeny dla CANVAS */
    --canvas-bg: transparent;

    --grid-color: hsl(213, 13%, 32%);
    --label-color: hsl(213, 13%, 48%);

    --trajectory-color: hsl(203, 60%, 50%);
    --ball-color: hsl(324, 60%, 50%);


    /* TEXT SHADOW FOR LIGHT THEME */

    --text-shadow: none;



}

/* ################### */
/* ### LIGHT MODE ### */

html.light-theme {
    /* Colors HSL - LIGHT MODE  */
    --color-bg: hsl(203, 15%, 94%);  
    --color-surface: hsl(203, 15%, 94%);
    --color-small-surface: hsl(203, 15%, 94%);

    --color-on-bg: hsl(213, 53%, 10%);
    --color-on-bg2: hsl(213, 53%, 5%);

    --color-devider: hsl(213, 13%, 32%, 0.2);

    --color-primary: hsl(203, 80%, 45%);
    --color-primary-strong: hsl(203, 80%, 15%);
    --color-primary-stronger: hsl(203, 60%, 50%);
    --color-primary-weak: hsl(203, 60%, 50%);

    --color-drawing-blue: hsl(200, 100%, 51%);
    --color-drawing-red: hsl(7, 80%, 60%);
    --color-drawing-green: hsl(261, 66%, 67%);
    --color-drawing-yellow: hsl(56, 91%, 46%);
    --color-drawing-gray: hsl(0, 0%, 63%);
    --color-drawing-red-weak: hsl(7, 100%, 70%);
    --color-drawing-blue-weak: hsl(200, 100%, 75%);

    --color-bttn-green-active: hsl(161, 94%, 30%);
    --color-bttn-yellow-active: hsl(32, 58%, 55%);
    --color-bttn--red-active: hsl(0, 58%, 55%);
    --on-bttn: rgb(255, 255, 255);

    --edu-section-bg: var(--color-surface);
    --edu-code-bg: rgb(117, 131, 149, 0.3);

    --edu-head2-color:hsl(203, 72%, 48%);
    --edu-head3-color: hsl(290, 65%, 33%);

    --color-surface-border: hsl(213, 13%, 82%);
    --color-small-surface-border: hsl(213, 13%, 32%);

    --color-icon-active: hsl(213, 23%, 20%);
    --color-icon-hover: hsl(213, 23%, 40%);

    --color-logo: hsl(213, 53%, 10%);

    /* tokeny dla CANVAS */
    --canvas-bg: transparent;

    --grid-color: hsl(213, 13%, 32%);
    --label-color: hsl(213, 13%, 48%);

    --trajectory-color: hsl(203, 60%, 50%);
    --ball-color: hsl(324, 60%, 50%);

    /* TEXT SHADOW FOR LIGHT THEME */

    --text-shadow: 0 0 0.5px rgba(0, 0, 0, 0.5);
        }